{% extends "base.html" %}

{% block title %}{% if form.instance.pk %}Edit address{% else %}New address{% endif %}{% endblock %}

{% block content %}
{% url "addresses:list" as list_url %}
{% if form.instance.pk %}
  {% url "addresses:detail" form.instance.pk as back_url %}
  {% include "components/crud_model_form.html" with title="Edit address" form=form back_url=back_url back_label=form.instance.label|default:form.instance.line1 cancel_url=back_url submit_text="Save" %}
{% else %}
  {% include "components/crud_model_form.html" with title="New address" form=form back_url=list_url back_label="Addresses" cancel_url=list_url submit_text="Save" %}
{% endif %}
{% endblock %}
