{% extends "base.html" %}

{% block title %}{% if form.instance.pk %}Edit address{% else %}New address{% endif %}{% endblock %}

{% block content %}
{% url "addresses:list" as back_url %}
{% if form.instance.pk %}
  {% include "components/crud_model_form.html" with title="Edit address" back_url=back_url cancel_url=back_url submit_text="Save" %}
{% else %}
  {% include "components/crud_model_form.html" with title="New address" back_url=back_url cancel_url=back_url submit_text="Save" %}
{% endif %}
{% endblock %}

